In [110]:
%run manipulate_weather_data.py

In [60]:
test = Zones_Dict['CTZ01']

In [47]:
for each in Zones_Dict:
    this_frame = Zones_Dict[each].copy()
    average_temps = this_frame.groupby(['Month'])['Dry Bulb'].mean()
    Zones_Dict[each] = average_temps

In [55]:
test.index = test.index.get_level_values('Month')

In [98]:
this_frame = test.groupby(['Month'])['Dry Bulb'].mean()

In [100]:
this_frame = this_frame.to_frame()

In [101]:
this_frame

        Dry Bulb
Month
1      48.806290
2      46.509018
3      48.356290
4      47.091250
5      52.206935
6      54.445250
7      56.268306
8      56.634355
9      54.424500
10     52.040000
11     48.183000
12     47.334113

In [102]:

this_frame.loc[0] = this_frame.loc[this_frame.index[-1]]
this_frame.loc[13] = this_frame.loc[this_frame.index[0]]
this_frame = this_frame.sort_index()
this_frame = this_frame.rolling(3,center=True).mean()
this_frame = this_frame.drop(index = [0,13])

In [106]:
print(this_frame['Dry Bulb'].min())

47.318852726574505

In [96]:
this_frame

        Dry Bulb
Month
0      47.334113
1      48.806290
2      46.509018
3      48.356290
4      47.091250
5      52.206935
6      54.445250
7      56.268306
8      56.634355
9      54.424500
10     52.040000
11     48.183000
12     47.334113
13     48.806290