In [1]:
%run T24_Draw_Profile_Generator.py

/Users/nathanieliltis/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

total = 2.8899269104003906, mixed = 0, hot = 0

In [6]:
To_Convert = "Building=Multi_Climate=3_Water=Hot_Profile=3a_SDLM=Yes_CFA=600_Included=['F', 'S', 'D'].csv"

In [9]:
All_Types = To_Convert.replace(".csv","").split(sep = '_')
Specifier_Dict = { each.split(sep = "=")[0] : each.split(sep = "=")[1] for each in All_Types}

In [14]:
Specifier_Dict['Building']

'Multi'

In [9]:
start_laggard_mixed

0

In [20]:
Profile = 'DHW' + str(0) + 'BR' + str('a')

NameError: name 'NumberBedrooms_Dwelling' is not defined

In [107]:
times  = [point_2,point_3, point_4, point_5, point_6, point_7, end]
fraction_times = [each / sum(times) for each in times]
fraction_times

[0.006229813503616754,
 0.029307984997352692,
 0.2867553134375883,
 0.040324859890133624,
 0.28793796289325485,
 0.061322210113581244,
 0.28812185516447253]

In [84]:
Folder_WeatherData = Folder + os.sep + 'WeatherFiles' #This states the folder that CBECC weather data files are stored in
start_text = 'CTZ0' if len(str(ClimateZone)) == 1 else 'CTZ'  #Identifying the correct file is done differently if the climate zone number is less than 10
File_WeatherData = os.sep + start_text + str(ClimateZone) + 'S13b.CSW' #Create a string stating the location of the weather file. Note the 0 following CTZ in climate zones < 10
Path_WeatherData = Folder_WeatherData + File_WeatherData #Combine Folder and File to create a path stating the location of the weather data

WeatherData = pd.read_csv(Path_WeatherData, header = 26) #Read the weather data, ignoring the first 25 lines of header

First_Hour = WeatherData[WeatherData["Hour"] == 1]
First_Hour = First_Hour.set_index([pd.Index(range(365))])
T_Mains = 0.65 * First_Hour['T Ground'] + 0.35 * First_Hour['31-day Avg lag DB'] #Equation 10, ACM, Appendix B. Returns the mains water temperature as a function of the ground temper

In [118]:

Daily_Profile['New Col'] = Daily_Profiles['Start Time of Year (hr)'] +4

In [110]:
Daily_Profile.loc[:,'Mains Temperature (deg F)'] = T_Mains[i]

In [100]:
Daily_Profile['Mains Temperature (deg F)'] = pd.Series([T_Mains.loc[1]]*len(Daily_Profile))

/Users/nathanieliltis/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [102]:
T_Mains

0      54.0810
1      54.1340
2      54.0930
3      54.0025
4      53.9295
5      53.8950
6      53.8360
7      53.7945
8      53.7915
9      53.7255
10     53.6455
11     53.6070
12     53.5445
13     53.4570
14     53.3450
15     53.3030
16     53.2925
17     53.2575
18     53.2540
19     53.2505
20     53.3200
21     53.2395
22     53.1410
23     53.1020
24     53.1225
25     53.1290
26     53.0340
27     53.0090
28     53.0080
29     52.9755
        ...
335    56.8500
336    56.6305
337    56.4255
338    56.2275
339    56.1095
340    55.9885
341    55.9650
342    55.9105
343    55.8560
344    55.7800
345    55.6590
346    55.5375
347    55.4830
348    55.4000
349    55.3140
350    55.1995
351    55.0855
352    54.9605
353    54.8565
354    54.6585
355    54.5720
356    54.5240
357    54.4865
358    54.4140
359    54.2995
360    54.2340
361    54.1405
362    54.0190
363    53.9775
364    54.0590
Length: 365, dtype: float64

In [118]:
Zones_Dict

{}

In [8]:
%run Convert_Profile_Climate_Zone.py

Code block 'converting to climate zone 2 complete, it' took: 1004.91125 ms
Code block 'converting to climate zone 3 complete, it' took: 991.91746 ms
Code block 'converting to climate zone 4 complete, it' took: 1004.58572 ms
Code block 'converting to climate zone 5 complete, it' took: 1025.18043 ms
Code block 'converting to climate zone 6 complete, it' took: 1007.37258 ms
Code block 'converting to climate zone 7 complete, it' took: 1004.74799 ms
Code block 'converting to climate zone 8 complete, it' took: 1002.20354 ms
Code block 'converting to climate zone 9 complete, it' took: 1015.61156 ms
Code block 'converting to climate zone 10 complete, it' took: 967.43819 ms
Code block 'converting to climate zone 11 complete, it' took: 971.70675 ms
Code block 'converting to climate zone 12 complete, it' took: 1003.73620 ms
Code block 'converting to climate zone 13 complete, it' took: 1009.61461 ms
Code block 'converting to climate zone 14 complete, it' took: 1004.26496 ms
Code block 'converting to climate zone 15 complete, it' took: 1023.63099 ms
Code block 'converting to climate zone 16 complete, it' took: 1050.95498 ms
time to run = 15.289607763290405

In [2]:
%run T24_Draw_Profile_Generator.py

/Users/nathaniltis/.pyenv/versions/3.7.3/lib/python3.7/site-packages/pandas/core/frame.py:7138: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

total = 2.3885059356689453, mixed = 0, hot = 0

In [84]:
len(Data)

748

     Hour  31-day Avg lag DB  T Ground
0       1              40.89     47.02
1       1              40.80     46.88
2       1              40.65     46.74
3       1              40.07     46.59
4       1              39.70     46.45
5       1              39.78     46.32
6       1              39.99     46.18
7       1              40.06     46.04
8       1              40.26     45.91
9       1              40.30     45.78
10      1              40.04     45.65
11      1              39.81     45.52
12      1              39.61     45.39
13      1              39.67     45.27
14      1              39.58     45.14
15      1              39.36     45.02
16      1              39.22     44.90
17      1              38.99     44.79
18      1              38.54     44.67
19      1              38.08     44.56
20      1              37.69     44.45
21      1              37.56     44.34
22      1              37.75     44.23
23      1              37.81     44.12
24      1              37.40     44.02
25      1              37.13     43.92
26      1              37.01     43.82
27      1              36.81     43.73
28      1              36.84     43.63
29      1              37.30     43.54
..    ...                ...       ...
335     1              41.00     51.77
336     1              40.43     51.60
337     1              40.16     51.44
338     1              40.13     51.27
339     1              40.13     51.11
340     1              39.58     50.94
341     1              38.80     50.78
342     1              38.19     50.62
343     1              38.26     50.45
344     1              38.69     50.29
345     1              39.25     50.13
346     1              39.81     49.96
347     1              39.91     49.80
348     1              40.04     49.64
349     1              40.22     49.48
350     1              40.30     49.32
351     1              40.47     49.16
352     1              40.65     49.00
353     1              40.82     48.84
354     1              41.06     48.69
355     1              41.19     48.53
356     1              41.40     48.37
357     1              41.27     48.22
358     1              41.34     48.07
359     1              41.08     47.91
360     1              40.88     47.76
361     1              40.84     47.61
362     1              40.96     47.46
363     1              41.12     47.31
364     1              41.05     47.17

[365 rows x 3 columns]